!!! Strict
%html
	%head
		%title Rails DJ
		= stylesheet_link_tag :all
		= css3buttons_stylesheets :include_reset => false
		= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js", "rails", "jquery.li-scroller.1.0", "application"
		= csrf_meta_tag
		%meta{:name => "author", :content => "Jeroen Hammann, Daniël Zwijnenburg"}
	%body
		#main
			#wrapper
				#header
				#content
					- if current_user
						#nowPlaying= render "layouts/now_playing"
						#playlist= render "layouts/queue"
						
						%ul#menu
							%li= link_to "Artists", artists_path
							%li= link_to "Albums", albums_path
							%li= link_to "Songs", songs_path
					=yield
			#userDrawer
				- @users.each do |user|
					.user
						.userImage
							.lensFlare
							.avatar{:style => "background:url('#{user.avatar.url(:thumb)}');"}
						.userInfo
							%p
								=user.name
								%br
								Status: online
								= image_tag "online.png"
						.userData
							%h4 Favorite artists:
							%ol
								- user.favorite_artists.each do |artist|
									%li= artist.name

							%h4 Favorite tunes:
							%ol
								- user.favorite_tunes.each do |tune|
									%li=link_to (tune.title? ? tune.title : tune.id), add_path(tune.id)
